<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the number - web</title>
</head>
<body>
<h1>I guess number... {{ guess }}!</h1>
<form action="" method="POST">
  <input type="submit" name="user_response" value="too big">
  <input type="submit" name="user_response" value="too small">
  <input type="submit" name="user_response" value="you won">
  <input type="hidden" name="min_number" value="{{ min_number }}">
  <input type="hidden" name="max_number" value="{{ max_number }}">
  <input type="hidden" name="guess" value="{{ guess }}">
</form>
</body>
</html>